/*	Sprite	*/

.bx-wrapper .bx-controls-direction a,
.logo_link,
.link_creator,
.link_host,
.big_trigger,
.search-text,
.btn_trigger:before,
.ain_tw_link:before,
.post ul li:before,
.vac-cont ul li:before,
.post blockquote:before,
.nav_wrap:before,
.cl_hover:before,
.cl_hover span:before,
.subscribe_form input[type="submit"],
.subscribe_form button,
.feature_slider .bx-next:before,
.feature_slider .bx-prev:before,
.show_form_subscribe:before,
.go_up,
.show_more_post a:before,
.count_like a:before,
.login_zone a,
.searchform input,
.first_menu a i,
.comments_number:before,
.like_number:before,
.sub_news:before,
.prevPostBox a:before,
.nextPostBox a:before,
.nPostTitle.next:after,
.nPostTitle.prev:before,
.cal-nav .prev:before,
.cal-nav .next:after,
.postComment:before,
.sidebar-widget ul li .meta .likes:before,
.address-marker:before,
.add_vacancy:before,
.depr-views.popular:before,
.postRow .smallPostItem:before,
.prev-month:before,
.next-month:after,
.post_views:before,
.close,
.ch_label span,
.login_form .soc span,
.login_form_wrap:before,
 .fresh_latest_post a .fresh_gradient .fresh_meta .fresh_views_count:before,
 .fresh_latest_post a .fresh_gradient .fresh_meta .fresh_comments_count:before,
 .fresh_latest_post a .fresh_gradient .fresh_meta .fresh_favs_count:before,
.new_post_item .new_post_likes span:before,
.all_jobs:after,
.all_events:after,
.cabinet .vac-item .company .edit_vacancy,
.link_photos,
.pr_post:after, .pr_post:before,
.del_vacancy{
	background: url(../img/sprite.png) 0 0 no-repeat;
	background-size: 600px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5),only screen and (min-resolution: 240dpi) {
	.logo_link,
	.link_creator,
	.link_host,
	.big_trigger,
	.search-text,
	.btn_trigger:before,
	.ain_tw_link:before,
	.post ul li:before,
	.vac-cont ul li:before,
	.post blockquote:before,
	.nav_wrap:before,
	.cl_hover:before,
	.cl_hover span:before,
	.subscribe_form input[type="submit"],
	.subscribe_form button,
	.sidebar-widget ul li .meta .likes:before,
	.depr-views.popular:before,
	.postRow .smallPostItem:before,
	.feature_slider .bx-next:before,
	.feature_slider .bx-prev:before,
	.show_form_subscribe:before,
	.go_up,
	.show_more_post a:before,
	.count_like a:before,
	.login_zone a,
	.searchform input,
	.first_menu a i,
	.comments_number:before,
	.post_views:before,
	.postComment:before,
	.like_number:before,
	.sub_news:before,
	.prevPostBox a:before,
	.nextPostBox a:before,
	.nPostTitle.next:after,
	.nPostTitle.prev:before,
	.cal-nav .prev:before,
	.cal-nav .next:after,
	.address-marker:before,
	.add_vacancy:before,
	.prev-month:before,
	.next-month:after,
	.close,
	.ch_label span,
	.login_form .soc span,
	.login_form_wrap:before,
	.fresh_latest_post a .fresh_gradient .fresh_meta .fresh_views_count:before,
	.fresh_latest_post a .fresh_gradient .fresh_meta .fresh_comments_count:before,
.fresh_latest_post a .fresh_gradient .fresh_meta .fresh_favs_count:before,
	.new_post_item .new_post_likes span:before,
	.all_jobs:after,
	.all_events:after,
	.cabinet .vac-item .company .edit_vacancy,
    .link_photos,
    {
		background: url(../img/sprite2@.png) 0 0 no-repeat;
		background-size: 600px;
	}
}