body, html
{
	margin: 0px;
	padding: 0px;
	overflow: visible;
	text-align: center;
	font-family: "HelveticaNeue", Arial, sans-serif;
	background: transparent;
}

.ajximg
{
	position: absolute;
	left: -789em;
}

.widget 
{
	position: absolute;
	top: 0px;
	left: 0px;
	text-align: center;
	white-space: nowrap;
}
.widget.center 
{ 
	position: relative;
	margin: 0px auto;
}
.widget.right 
{ 
	width: auto !important;
	left: auto;
	right: 0px;
}
.widget.pocket { width: 60px; }
.widget.save { width: 56px; }
.widget.pocket.vertical { width: 60px; }
.widget.save.vertical { width: 56px; }
.widget.horizontal { width: 115px; }

#btn
{
	display: block;
	cursor: pointer;
}
#btn span
{
	/*position: relative;
	display: block;
	border: 1px solid #bbb;
	font-weight: bold;
	color: #777;
	background: #FFF;*/
}
#btn:hover span
{
	color: #555;
}
/*.horizontal #btn span
{
	float: left;
	height: 18px;
	padding: 0px 6px;
	line-height: 18px;
	font-size: 11px;
	font-weight: normal;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}*/
.vertical #btn span
{
	height: 33px;
	line-height: 33px;
	margin-bottom: 8px;
	font-size: 14px;
}
#btn span em
{
	font-style: normal;
	-moz-transition: opacity 0.3s;
	-webkit-transition: opacity 0.3s;
	-ms-transition: opacity 0.3s;
	-o-transition: opacity 0.3s;
}
#btn span em.fadeOut
{
	opacity: 0;
}
#btn span i,
#btn span u
{
/*	display: block;
	position: absolute;
	border: 4px transparent solid;
	width: 0px;
	height: 0px;
	line-height: 0px;
	zoom: 1;
	z-index: 10;*/
}
.vertical #btn span i,
.vertical #btn span u
{
	left: 50%;
	bottom: 0px;
	margin: 0px 0px -4px -4px;
	border-bottom: 0;
}
.vertical #btn span i
{
	border-top-color: #aaa;
}
.vertical #btn span u
{
	margin-bottom: -3px;
	border-top-color: #fff;
}
.horizontal #btn span i,
.horizontal #btn span u
{
	top: 50%;
	left: 0px;
	margin: -4px 0px 0px -4px;
	border-left: 0;
}
.horizontal #btn span i
{
	border-right-color: #aaa;
}
.horizontal #btn span u
{
	margin-left: -3px;
	border-right-color: #fff;
}
#btn b
{
	display: block;
	/*height: 20px;*/
	/*line-height: 20px;*/
	font-size: 12px;
	/*background: url(../img/pocket_button.png) top center no-repeat;*/
	background-size: 60px;
}
#btn:hover b { background-position: center; }
#btn.saved b { background-position: center bottom; }
/*.pocket #btn b { width: 60px; }*/
.horizontal.pocket #btn { padding-left: 66px; }
.save #btn b { width: 56px; }
.horizontal.save #btn { padding-left: 62px; }
/*.horizontal #btn b { position: absolute; top: 0px; left: 0px; }*/
.save #btn b 
{ 
	background-size: 56px;
	background-image: url(../img/save_button.png);
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) 
{
    #btn b { background-image: url(../img/pocket_button-2x.png); }
    /*.save #btn b { background-image: url(https://d7x5nblzs94me.cloudfront.net/v1/i/save_button-2x.png?v=2); }*/
}


.widget.horizontal.pocket.center b{
	padding-left: 40px;
background: #EE4056;
color: #f5f6f9;
font-size: 12px;
cursor: pointer;
line-height: 32px;
position: relative;
display: inline-block;
vertical-align: top;
padding-right: 15px;
height: 32px;
position: absolute;
left: 0;
}

.widget.horizontal.pocket.center b:before{
	content:"";
	display: inline-block;
	position: absolute;
	left: 13px;
top: 10px;
background: url("../img/b-share-sprite.png") no-repeat;
background-position: -57px 0;
width: 16px;
height: 14px;
}

.widget.horizontal.pocket.center b:after{
	content:"Pocket";
	display: inline-block;
	color: #f5f6f9;
font-size: 12px;
display: inline-block;
position: relative;
font-weight: normal;

}
.pocket-btn iframe{
	height: 32px !important;
}

.pocket-btn {
display: inline-block;
}

.widget.horizontal.pocket.center span{
	background: #fff;
border: 1px solid #dbdbdb;
/*padding: 0 10px;*/
position: relative;
height: 30px;
line-height: 30px;
float: right;
font-size: 12px;
color: #343434;
margin-left: -4px;
display: inline-block;
position: relative;
top: 0px;
left: 6px;
z-index: 9;
}
#cnt {
padding: 0 10px;
padding-right: 17px;
}
.widget.horizontal.pocket.center{
	margin-left: 0;
}
#pocket-button-0 {
height: 34px;
}
.widget.horizontal.pocket.center span:after{
	content: "";
width: 0;
height: 0;
position: absolute;
left: -5px;
right: 0;
top: 10px;
bottom: 0;
border-right: 5px solid white;
border-bottom: 5px solid transparent;
border-top: 5px solid transparent;

}